@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.Box1 {
    color: #ffffff;
    background-color: #fdba74;
    height: 130px;
    width: 130px;
    font-size: 20px;
}

.Box2 {
    color: #ffffff;
    background-color: #ea580c;
    height: 130px;
    width: 130px;
    font-size: 20px;
}

.Box3 {
    color: #ffffff;
    background-color: #a5b4fc;
    height: 130px;
    width: 130px;
    font-size: 20px;
}

.Box4 {
    color: #ffffff;
    background-color: #4f46e5;
    height: 130px;
    width: 130px;
    font-size: 20px;
}

.Box5 {
    color: #ffffff;
    background-color: #5eead4;
    height: 130px;
    width: 130px;
    font-size: 20px;
}

.Box6 {
    color: #ffffff;
    background-color: #0d9488;
    height: 130px;
    width: 130px;
    font-size: 20px;
}
